<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div><h1>Home Teste</h1></div>
        <nav>
            <a href="./sobre.html">Sobre Nós</a>
        </nav>
    </header>
    <main>
        <div class="card">
            <img src="./911gt3.png" alt="">
            <h3>911 GT3 RS (2024)</h3>
            <span>Desenvolvido para o desempenho esportivo</span>
            <p>Os atletas sabem que para alcançar o máximo desempenho, a vontade inabalável de questionar tudo é crucial. Com essa mentalidade, a Porsche continua ultrapassando os limites do que é possível.</p>
            <a href="./carros.html">Veja mais sobre...</a>
        </div>
        <div class="card">
            <img src="https://a.storyblok.com/f/322327/3074x857/8f53a6291b/911-gt3-s-c-side.png/m/900x251/smart/filters:format(avif)" alt="">
            <h3>911 Turbo S</h3>
            <span>Genuinamente Turbo</span>
            <p>Com uma carroceria mais larga, entradas de ar laterais e um spoiler traseiro diferenciado, o 911 Turbo S permanece fiel às suas linhas inconfundíveis e essência singular, proporcionando mais uma vez uma emoção sem precedentes</p>
            <a href="https://www.porsche.com/brazil/pt/models/911/911-turbo-models/911-turbo-s/">Ver mais</a>
        </div>
    </main>
</body>
</html>